<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>西华大学演讲与交流协会</title>
    <link rel="icon" href="../imgs/logo-icon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" href="../css/parts/corporation/corporation.css">
    <link rel="stylesheet" type="text/css" href="../css/parts/corporation/corporation-mobile.css" media="screen and (max-width:768px)">
</head>

<body>
<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="main-content">
        <div class="container" id="container">
            <!-- 头部开始 -->
            <div class="header">
                <nav class="navbar navbar-inverse" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a class="navbar-brand navbar-logo" href="homepage.html">
                            <div class="logo">
                                <img class="logo1" src="../imgs/logo1.png">
                                <img class="logo2" src="../imgs/logo2.png">
                            </div>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-3">
                        <ul class="nav navbar-nav">
                            <li><a href="homepage.html">首页</a></li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">社团 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="myCorporation.html">我的社团</a></li>
                                    <li><a href="createCorporation.html">创建社团</a></li>
                                    <li><a href="#">本校社团</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">活动<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="myActivity.html">我的活动</a></li>
                                    <li><a href="createActivity.html">创建活动</a></li>
                                    <li><a href="#">本校活动</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" action="#" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                                        <span class="input-group-btn">
                                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                                        </span>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right nav-logoin" style="display: block;">
                            <li>
                                <a href="login.html">
                                    <button type="button" class="btn btn-primary btn-xs">登录</button>
                                </a>
                            </li>
                            <li>
                                <a href="signup.html">
                                    <button type="button" class="btn btn-default btn-xs">注册</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- 头部结束 -->

            <!-- 主体 开始-->
            <div class="content">
                <div class="row row-left">
                    <!-- 左侧栏 -->
                    <div class="col-md-9  col-sm-8 col-xs-12">
                        <nav class="corporation-navbar">
                            <ul>
                                <li class="active">
                                    <a href="corporation.html">社团首页</a>
                                </li>
                                <li>
                                    <a href="">社团资料</a>
                                </li>
                                <li>
                                    <a href="activity.html">社团活动</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- 新鲜事 -->
                        <div class="fresh-news">
                            <h6>新鲜事<a href="#" class="right">全部新鲜事<span class="fui-arrow-right"></span></a></h6>
                            <div class="fresh-news-card">
                                <p>
                                    亲爱的小伙伴萌，“演协会员关爱日”之HONEY!糖果PARTY乘着2016学年的末班车将于【2016年6月4日】抵达川大青广。6月4日晚6点30更是有多个温馨的集体活动在青广演协摊位处举办。随机组队问答的月老“缘“，温暖冷冬温度的抱团取暖，舍弃矜持踩爆烦忧的“踩气球“等活动将会营造出一种充满未知与惊喜的氛围扫除夜的凄冷。更有奖品等你来拿，参与即有奖品，而对于可爱的会员萌更是有双倍礼品奉上。</p>
                                <img src="../imgs/prestrain.gif"
                                     data-src="../imgs/parts/corporation/coporation-things-1.jpg" alt="图片"/>
                                <div class="card-bottom">
                                    <p class="card-bottom-left"><span class="fui-time"></span>2014-12-02 22:54</p>
                                    <p class="card-bottom-right">
                                        <span class="fui-heart"></span>0赞
                                        <span class="fui-bubble" style="font-size: 12px;"></span>0条
                                    </p>
                                </div>
                            </div>
                            <div class="fresh-news-card">
                                <p>
                                    亲爱的小伙伴萌，“演协会员关爱日”之HONEY!糖果PARTY乘着2016学年的末班车将于【2016年6月4日】抵达川大青广。6月4日晚6点30更是有多个温馨的集体活动在青广演协摊位处举办。随机组队问答的月老“缘“，温暖冷冬温度的抱团取暖，舍弃矜持踩爆烦忧的“踩气球“等活动将会营造出一种充满未知与惊喜的氛围扫除夜的凄冷。更有奖品等你来拿，参与即有奖品，而对于可爱的会员萌更是有双倍礼品奉上。</p>
                                <img src="../imgs/prestrain.gif"
                                     data-src="../imgs/parts/corporation/coporation-things-2.jpg" alt="图片"/>
                                <img src="../imgs/prestrain.gif"
                                     data-src="../imgs/parts/corporation/coporation-things-3.jpg" alt="图片"/>
                                <div class="card-bottom">
                                    <p class="card-bottom-left"><span class="fui-time"></span>2014-12-02 22:54</p>
                                    <p class="card-bottom-right">
                                        <span class="fui-heart"></span>0赞
                                        <span class="fui-bubble" style="font-size: 12px;"></span>0条
                                    </p>
                                </div>
                            </div>
                            <div class="more">
                                <button type="button" class="btn btn-default btn-lg btn-block">加载更多</button>
                            </div>
                        </div>
                        <!-- 留言板 -->
                        <div class="message">
                            <h6>留言板<a href="#" class="right">全部留言<span class="fui-arrow-right"></span></a></h6>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="添加留言..."></textarea>
                                <button type="button" class="btn btn-primary btn-lg btn-block">发送</button>
                            </div>
                            <div class="message-card">
                                <div class="box">
                                    <a href="" class="head-picture">
                                        <img src="../imgs/prestrain.gif"
                                             data-src="../imgs/parts/corporation/SideBar/2.jpg" alt="UserLogo">
                                        <span class="nickname">一只特立独行的猪</span>
                                    </a>
                                </div>
                                <p class="message-content">
                                    仅仅是一阵风也罢了，偏偏是这样永恒，仅仅是一场梦也罢了，偏偏是如此真实，你低头不语，我却难以平静，我终于禁不住要对你说，：下次放屁时，说一声！
                                </p>
                                <div class="card-bottom">
                                    <p class="card-bottom-left">
                                        <span class="fui-time"></span>2015-04-27 16:09
                                    </p>
                                    <p class="card-bottom-right">回复<span class="fui-triangle-down-small"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="message-card">
                                <div class="box">
                                    <a href="" class="head-picture">
                                        <img src="../imgs/prestrain.gif"
                                             data-src="../imgs/parts/corporation/SideBar/2.jpg" alt="UserLogo">
                                        <span class="nickname">小马哥</span>
                                    </a>
                                </div>
                                <p class="message-content">
                                    一群蚂蚁爬上了大象的背，但被摇了下来，只有一只蚂蚁死死地抱着大象的脖子不放，下面的蚂蚁大叫：掐死他，掐死他，小样，还他妈反了！
                                </p>
                                <div class="card-bottom">
                                    <p class="card-bottom-left">
                                        <span class="fui-time"></span>2015-04-27 16:09
                                    </p>
                                    <p class="card-bottom-right">回复<span class="fui-triangle-down-small"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="message-card">
                                <div class="box">
                                    <a href="" class="head-picture">
                                        <img src="../imgs/prestrain.gif"
                                             data-src="../imgs/parts/corporation/SideBar/3.jpg" alt="UserLogo">
                                        <span class="nickname">赫尔本</span>
                                    </a>
                                </div>
                                <p class="message-content">
                                    四只老鼠吹牛：甲：我每天都拿鼠药当糖吃；乙：我一天不踩老鼠夹脚发痒；丙：我每天不过几次大街不踏实；丁：时间不早了，回家抱猫去咯。
                                </p>
                                <div class="card-bottom">
                                    <p class="card-bottom-left">
                                        <span class="fui-time"></span>2015-04-27 16:09
                                    </p>
                                    <p class="card-bottom-right">回复<span class="fui-triangle-down-small"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 右侧栏 -->
                    <div class="row-right col-md-3 col-sm-4 col-xs-12">
                        <div class="corporation-introduction">
                            <div class="logo">
                                <img src="../imgs/prestrain.gif"
                                     data-src="../imgs/parts/corporation/corporation-logo-speak.jpg" alt="logo">
                            </div>
                            <div class="corporation-box">

                                <div class="title">
                                    <h6 class="corporation-title">西华大学演讲与交流协会</h6>
                                    <P><span>校级</span><em>/</em><span>学术专业</span></P>
                                </div>
                                <div class="corporation-abstract">
                                    <p>演四海之波澜，此声不息；协五洲之鸿儒，此志不渝！</p>
                                    <div class="two-button">
                                        <button type="button" class="btn btn-warning btn-sm">申请加入</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="corporation-fork">
                            <h6 class="corporation-fork-title">关注者</h6>
                            <ul class="fork-list">
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/15.jpg"
                                                     alt="UserLogo">
                                        <p>习大大</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/14.jpg"
                                                     alt="UserLogo">
                                        <p>彭妈妈</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/13.jpg"
                                                     alt="UserLogo">
                                        <p>周星驰</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/12.jpg"
                                                     alt="UserLogo">
                                        <p>郭德纲</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/11.jpg"
                                                     alt="UserLogo">
                                        <p>曾哥</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/10.jpg"
                                                     alt="UserLogo">
                                        <p>老赵</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/9.jpg"
                                                     alt="UserLogo">
                                        <p>小叶</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/8.jpg"
                                                     alt="UserLogo">
                                        <p>希拉里</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/7.jpg"
                                                     alt="UserLogo">
                                        <p>小马哥</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/6.jpg"
                                                     alt="UserLogo">
                                        <p>张三</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/5.jpg"
                                                     alt="UserLogo">
                                        <p>马三</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/4.jpg"
                                                     alt="UserLogo">
                                        <p>莫修</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/3.jpg"
                                                     alt="UserLogo">
                                        <p>李四</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/2.jpg"
                                                     alt="UserLogo">
                                        <p>王麻子</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="../imgs/prestrain.gif"
                                                     data-src="../imgs/parts/corporation/SideBar/1.bmp"
                                                     alt="UserLogo">
                                        <p>王四</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 主体结束 -->

            <!-- 脚部 -->
            <div class="footer"></div>
            <!-- 脚部结束 -->
        </div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/flat-ui.js"></script>
<script src="../js/application.js"></script>
<script src="../js/bgCanvases.js"></script>
<script src="../js/imageLoad.js"></script>
</body>

</html>
