<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>趣社团</title>
    <link rel="icon" href="../imgs/logo-icon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" href="../css/parts/myActivity/myActivity.css">
</head>

<body>

<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="main-content">
        <div class="container" id="container">
            <!-- 头部开始 -->
            <div class="header">
                <nav class="navbar navbar-inverse" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a class="navbar-brand navbar-logo" href="homepage.html">
                            <div class="logo">
                                <img class="logo1" src="../imgs/logo1.png">
                                <img class="logo2" src="../imgs/logo2.png">
                            </div>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-3">
                        <ul class="nav navbar-nav">
                            <li><a href="homepage.html">首页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">社团 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="myCorporation.html">我的社团</a></li>
                                    <li><a href="createCorporation.html">创建社团</a></li>
                                    <li><a href="#">本校社团</a></li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">活动<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="myActivity.html">我的活动</a></li>
                                    <li><a href="createActivity.html">创建活动</a></li>
                                    <li><a href="#">本校活动</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" action="#" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                                        <span class="input-group-btn">
                                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                                        </span>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right nav-logoin" style="display: block;">
                            <li>
                                <a href="login.html">
                                    <button type="button" class="btn btn-primary btn-xs">登录</button>
                                </a>
                            </li>
                            <li>
                                <a href="signup.html">
                                    <button type="button" class="btn btn-default btn-xs">注册</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- 头部结束 -->

            <!-- 主体开始 -->
            <div class="content">
                <!-- 我创建的活动 -->
                <div class="activity">
                    <div class="activity-place">我创建的活动</div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="activity-card">
                                <figure class="effect-sadie">
                                    <img src="../imgs/prestrain.gif" data-src="../imgs/parts/avtivity/2.jpeg"
                                         style="height: 180px;width: 100%;"/>
                                    <figcaption class="gradual-color2">
                                        <h6>篮球比赛</h6>
                                        <p>篮球协会</p>
                                        <a href="activity.html">查看详情</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="activity-card">
                                <figure class="effect-sadie">
                                    <img src="../imgs/prestrain.gif" data-src="../imgs/parts/avtivity/3.jpg"
                                         style="height: 180px;width: 100%;"/>
                                    <figcaption class="gradual-color3">
                                        <h6>舞蹈交流</h6>
                                        <p>舞蹈协会</p>
                                        <a href="activity.html">查看详情</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="activity-card">
                                <figure class="effect-sadie">
                                    <img src="../imgs/prestrain.gif" data-src="../imgs/parts/avtivity/4.jpg"
                                         style="height: 180px;width: 100%;"/>
                                    <figcaption class="gradual-color4">
                                        <h6>草坪演唱会</h6>
                                        <p>音乐协会</p>
                                        <a href="activity.html">查看详情</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 我加入的活动 -->
                <div class="activity">
                    <div class="activity-place">我加入的活动</div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="activity-card">
                                <figure class="effect-sadie">
                                    <img src="../imgs/prestrain.gif" data-src="../imgs/parts/avtivity/5.jpg"
                                         style="height: 180px;width: 100%;"/>
                                    <figcaption class="gradual-color5">
                                        <h6>演讲比赛</h6>
                                        <p>演讲与交流协会</p>
                                        <a href="activity.html">查看详情</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="activity-card">
                                <figure class="effect-sadie">
                                    <img src="../imgs/prestrain.gif" data-src="../imgs/parts/avtivity/6.jpg"
                                         style="height: 180px;width: 100%;"/>
                                    <figcaption class="gradual-color6">
                                        <h6>摄影培训</h6>
                                        <p>摄影协会</p>
                                        <a href="activity.html">查看详情</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="activity-card">
                                <figure class="effect-sadie">
                                    <img src="../imgs/prestrain.gif" data-src="../imgs/parts/avtivity/7.jpg"
                                         style="height: 180px;width: 100%;"/>
                                    <figcaption class="gradual-color7">
                                        <h6>网球比赛</h6>
                                        <p>网球协会</p>
                                        <a href="activity.html">查看详情</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="activity-card">
                                <figure class="effect-sadie">
                                    <img src="../imgs/prestrain.gif" data-src="../imgs/parts/avtivity/8.jpg"
                                         style="height: 180px;width: 100%;"/>
                                    <figcaption class="gradual-color8">
                                        <h6>跆拳道训练</h6>
                                        <p>跆拳道协会</p>
                                        <a href="activity.html">查看详情</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 主体结束 -->

            <!-- 脚部开始 -->
            <div class="footer">
            </div>
            <!-- 结束 -->
        </div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js "></script>
<script src="../js/flat-ui.js "></script>
<script src="../js/application.js "></script>
<script src="../js/bgCanvases.js "></script>
<script src="../js/imageLoad.js "></script>
<script src="../js/parts/homepage/homepage.js "></script>
</body>

</html>
