*{
    margin: 0;
    padding: 0;
}
body{
    background: #efefef;
}
#header{
    line-height: 80px;
    width: 100%;
    height: 80px;
    background: #337AB7;
}
#header h1{
    margin-left: 60px;
    color: white;
    float: left;
}
#header ul li{
    float: right;
    margin: 0 20px 0 5px;
}
#header ul a{
    color: white;
    text-decoration: none;
}
#body_left{
    float: left;
    margin-left: 40px;
    margin-right: 450px;
}
.common{
    box-shadow: 5px 3px 3px #c0c0c0;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #9999aa;
}
.last_bottom{
    margin-bottom: 20px;
}
h2{
    padding-top: 30px;
}
h3{
    margin-top: 20px;
    color: silver;
}
span.text_author{
    display: block;
    color: silver;
    padding: 10px 0;
    text-indent: 0;
}
p.text{
    line-height: 28px;
    text-indent: 2em;
}
#first_article img{
    margin: 10px 0;
}
#second_article img{
    margin: 10px 0;
}
#second_article ul li{
    list-style: none;
    text-indent: 2em;
    line-height: 28px;
}
#picture .container{
    float: left;
    border: 1px solid #c0c0c0;
    margin: 25px 0 0 45px;
}
#picture p{
    text-align: center;
    padding: 20px 0 0 0;
}
#picture img{
    padding: 20px;
    width: 80px;
    height: 80px;
}
#picture .clear_float{
    clear: both;
}
#last_article ol{
    margin-left: 50px;
}
#last_article ol li{
    line-height: 28px;
}
#last_article table{
    width: 100%;
    border-collapse:collapse;
    vertical-align: middle;
}
#last_article table th,td{
    padding: 5px;
}
#last_article table th{
    text-align: left;
    background: #444455;
    color: white;
}
#last_article table tr.end{
    background: #9999aa;
    font-weight: bolder;
}
#register{
    float: right;
    width: 360px;
    position: absolute;
    top: 80px;
    right: 20px;
}
#register h4{
    border-left: 3px solid #c0c0c0;
    padding-left: 15px;
    line-height: 40px;
}
#register table{
    float: right;
}
#register table td p{
    color: silver;
}
#register table td label{
    float: right;
    padding: 2px;
    font-size: small;
}
#register .commit_box{
    width: 100%;
    height: 35px;
    background: #337AB7;
    border-radius: 10px;
}
#footer{
    width: 100%;
    height: 70px;
    background: #337AB7;
    color: white;
    line-height: 70px;
    text-align: center;
    font-size: small;
    margin: 20px 0 0 0 ;
    clear: both;
}
