@charset "utf-8";
/* CSS Document 
.input-search input{
	height:35px;
	line-height:35px;
	text-indent:10px;
	border:none;
	outline:none;
	margin-right:82px;
	width:60%;
}
.input-search-mall input{
	height:35px;
	line-height:35px;
	text-indent:10px;
	border:none;
	outline:none;
	margin-right:82px;
}
.input-search .btn-search, .input-search-mall .btn-search{
	width:40%;
	height:36px;
	line-height:36px;
	cursor:pointer;
	font-size:14px;
	color:#fff;
	background:#2371f2;
	display:inline-block;
	border:none;
	text-align:center;
	vertical-align:middle;
	float:right;
}*/