
.con{
        min-width: 750px;
    background-color: #ffffff;
}
.next{
    background-color: #ffffff;
    align:center;
    min-height: 900px;
}
table {
    width: 100%;

}
.file{
    text-align: center;
    display: inline-block;
    padding: 0 20px;
    /*max-width: 400px;*/
    width: 90px;
    height: 40px;
    line-height: 35px;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
}
input[type="file"]{
    width:90px;
    height: 40px;
    outline: none;
    line-height: 35px;
    position: absolute;
    z-index: 333;
    margin-top: -35px;
    background: #fff;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    cursor: pointer;
    margin-left: -20px;
}
.sc{
    font-size: 12px;
}
.GS-text1{
    font-size: 14px;
    font-family:"微软雅黑";
    text-align: left;
    padding-left:20px; 
}
.GS-text12{
    font-size: 14px;
    color: #fff;
}
.GS-td1{
    height: 50px;
    width: 83%;

}
.GS-color1
{
    color: #2371f2 ; 
    text-decoration:none;
}
.GS-fenge
{
    padding: 0 20px 0 20px;
    margin: 0 20px;
    line-height: 2px;
    height:1px;
    border: 1px solid #ddd;
    width: 95%;
}

.GS-td-b{/* 间距*/
     height: 20px;
}
.GS-td-m{
 width: 42%;
}
.GS-td-m-next{
    padding: 0 0 10px 0;
}
.GS-butt{
    border: solid 1px #eeeeee;
    height: 40px;
    width: 90px;
    font-size: 12px;
}
.GS-butt1{
    height: 40px;
    width: 125px;
    border: solid 1px #ea4335;
    background-color: #ea4335;
    text-align: center;
}

.GS-imgp{
    padding: 5px 0 0 40px;
}
.GS-text31{
    font-size: 12px;
    font-family:"微软雅黑";
    text-color: #737373;
     padding-left:10px;
}
.GS-text31-g{
    font-size: 12px;
    font-family:"微软雅黑";
    text-color: #737373;
}
.GS-text41{
    font-size: 12px;
    font-family:"微软雅黑";
        color:#2371f2;
}
.GS-op{ 
 height:40px;
 padding: 0 850px 0 10px;
 text-align: left;
    white-space:nowrap;
}

 .GS-jt{
     width:28% ;
     height:40px;
     padding: 0 0 0 40px;
        white-space:nowrap;
 }

.GS-butto{
    margin:0 auto;
    width:800px; 
    }
.GS-GZ{
    padding: 0 0 0 40px;
    font-size: 12px;
    font-family:"微软雅黑";
        color: #737373;
}

.GS-butt-yes{
    height: 30px;
    width: 15%;
    border: solid 1px #2371f2;
    background-color: #2371f2;
    text-align: center;
    
}
.GS-butt-no{
    height: 30px;
    width: 15%;
    border: solid 1px #2371f2;
    background-color: #fff;
    text-align: center;
    float: left;
}
.GS-butt-no-text{
     font-size: 12px;
     color:#2371f2; 
        white-space:nowrap;
    
}
.GS-butt-yes-text{
     font-size: 12px;
        color:#fff; 
            white-space:nowrap;
}
.GS-input{
    height:35px;width:24%;
  border:1.2px solid #e5e5e5;
}

.GS-text-name{
    color: #484848;
    padding: 0 0 0 110px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-ttext-address{
    color: #484848;
    padding: 0 0 0 60px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-phone-num{
    color: #484848;
    padding: 0 0 0 123px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-ttext-qq{
    color: #484848;
    padding: 0 0 0 48px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-email{
    color: #484848;
    padding: 0 0 0 123px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-rund{
    color: #484848;
    padding: 0 0 0 128px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-zz-num{
    color: #484848;
    padding: 0 0 0 102px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-zz-num2{
    color: #484848;
    padding: 0 0 0 35px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-zznum-up{
    color: #484848;
    padding: 0 0 0 118px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-zznum2-up{
    color: #484848;
    padding: 0 0 0 124px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-mark{
    color: #484848;
    padding: 0 0 0 116px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-text-one{
    color: #484848;
    padding: 0 0 0 156px;
    font-size: 12px;
    font-family: "微软雅黑";
}

.GS-BT{
    color: #999999;
    font-size: 12px;
    font-family: "微软雅黑";
}
.GS-wtext{
    font-size: 12px;
    font-family:"微软雅黑";
    text-align: right;
    padding-right: 1px;
    padding-left: 45px;

}
.GS-fenge2{
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
    line-height: 2px;
    height:1px;
    border: 1px solid #ddd;
    width: 840px;
}
.GS-ta{
    width: 840px;
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
}
.GS-td-w1{
    height: 35px;
    width: 10%;
    text-align: right;
    padding: 0 0 0 40px;
        white-space:nowrap;
}
.GS-td-w2{
    height: 35px;
    width: 10%;
    text-align: right;
    padding:0 400px 0 10px;
        white-space:nowrap;
}
.GS-plus{
    font-size: 16px;
}
.GS-gantan{
    font-size: 12px;
    font-family: "微软雅黑";
    color: #999999;
}