/*header*/
.logo{
	float: left;
	margin-top: -18px;
}
.nav li{
	font-size: 20px;	
}

/*content*/
.cont-margin{
     margin-top:30px; 
     border-top:1px solid #E5D8D8;
}
h3{
	display: block;
	height: 50px;
    margin-top: 25px;
    padding-top:10px; 
    text-indent: 14px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #96E0FC;
}
h3.bg-color{
	 background-color: #C9CCCC;
	 text-align: center;
	 font-size: 30px
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.row {
    background-color: rgba(86,61,124,.15);	
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;	 
}
.assi-list{
	height: 100px;
	padding-top:10px; 
	border:1px solid gray;
	box-shadow: 0px 0px 4px gray;
	-webkit-box-shadow: 0px 0px 4px gray;
	-moz-box-shadow: 0px 0px 4px gray;
}
.assi-list p:nth-child(1){
	height: 20px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
p.url{
	display: block;
	width: 96%;
	height: 16px;
	text-align: left;
	text-indent: 12px;
	font-size: 14px;
	line-height: 16px;
	color:gray;
	overflow: hidden;
	
}
.assi-list a{
	display: block;
	position: relative;
	top: -16px;
	height: 16px;
	width: 100%;
	line-height: 16px;
	text-align: left;
	text-indent:70px;
    font-size: 14px;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
    cursor: pointer;
}

/*return-top*/
.return-top{
   display: none;
   position: fixed;
   bottom: 50px;
   right: 50px;
   width: 32px;
   height: 32px;
   border-radius: 16px;
   background-color: #E8E2E2; 
   
}
.return-top a{
   display: block;
   width: 32px;
   height: 32px;
   background-image: url(../images/iconfont-fanhuidingbu.png); 
   background-size: 32px 32px;
   background-repeat:no-repeat;
   // background-position:  
   text-decoration: none;
}

@media (max-width: 768px) {
  .return-top{
     display: block;
     position: fixed;
     bottom: 20px;
     right: 18px;
  }
}

/*footer*/
footer{
	border-top: 1px solid #E6E0E0;
	margin-top:20px; 
	width: 100%;
	height: 60px;
}
footer>div{
	height: 60px;
	width: 215px;
	margin: 0 auto;
}
footer>div>p{
	 display: inline-block;
	 line-height: 50px;	
	 height: 50px;
}
footer img{
	width: 50px;
	height: 50px;
}
